body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    text-align: center;
    margin: 20px;
}

h1 {
    font-size: 2em;
    margin-bottom: 0;
}

h2 {
    font-size: 1.5em;
    color: #333;
    margin-top: 5px;
}

.image-container {
    display: flex;
    justify-content: space-around;
}

.image-container img {
    width: 45vw; /* Utilisation de vw pour la largeur */
    max-height: 60vh; /* Utilisation de vh pour la hauteur avec une limite */
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Styles généraux pour tous les liens */
a {
    text-decoration: none;
    color: #333;
}

/* Styles spécifiques pour les liens avec la classe "lien-styled" */
a.lien-styled {
    font-weight: bold;
    border: 2px solid #333;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
}

a.lien-styled:hover {
    background-color: #333;
    color: white;
    border: 2px solid #333;
}

/* ... (autres styles restent inchangés) */


.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.p1 {
    text-align: center;
    margin-left: 20%;
}

.p2 {
    text-align: center;
    margin-right: 20%;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }

    ul {
        flex-direction: column;
    }

    li {
        margin: 10px 0;
    }

    .p1, .p2 {
        position: static;
        margin-top: 10px;
        left: 0;
        top: 0;
    }
}   
